<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friend.spiritualcommunication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">
        <activity android:name="com.friend.spiritualcommunication.PrayerNeeds"></activity>
        <activity
            android:name="com.friend.spiritualcommunication.AddReadNote"
            android:label="Заметки"
            android:parentActivityName="com.friend.spiritualcommunication.TextCommunication">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.friend.spiritualcommunication.TextCommunication"></meta-data>
        </activity>
        <activity
            android:name="com.friend.spiritualcommunication.SettingsActivity"
            android:label="Настройки"
            android:parentActivityName="com.friend.spiritualcommunication.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.friend.spiritualcommunication.MainActivity"></meta-data>
        </activity>
        <activity
            android:name="com.friend.spiritualcommunication.AboutActivity"
            android:label="О приложении"
            android:parentActivityName="com.friend.spiritualcommunication.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.friend.spiritualcommunication.MainActivity"></meta-data>
        </activity>
        <activity
            android:name="com.friend.spiritualcommunication.TextCommunication"
            android:parentActivityName="com.friend.spiritualcommunication.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.friend.spiritualcommunication.MainActivity"></meta-data>
        </activity>
        <activity
            android:name="com.friend.spiritualcommunication.MainActivity"
            android:parentActivityName="com.friend.spiritualcommunication.ProfilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.friend.spiritualcommunication.ProfilesActivity"></meta-data>
        </activity>
        <activity
            android:name="com.friend.spiritualcommunication.ProfilesActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name="com.friend.spiritualcommunication.MainIntroActivity"
            android:theme="@style/Theme.Intro"></activity>
        <activity
            android:name="com.friend.spiritualcommunication.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>